@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Contrail+One');

$font-contrail: 'Contrail One', cursive;
$font-roboto: 'Roboto Condensed', sans-serif;


.left {
  position: relative;
  top:0px;
  right:15px;
  width: 100%;
  min-height: 100%;
  padding-bottom:150px;
  border-bottom-right-radius: 5px;
  background-color: rgba(255,255,255,0.9);

}


.home-heading {
  position: relative;
  width: 80%;
  text-align: center;
  margin: 2em 2em 0.5em;
  padding: 1em;
  font-size: 3em;
  font-family: $font-contrail;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.2em;
  background-color: rgba(255,255,255,0.8);

  h2 span {
    font-size: 2.3em;
    font-weight: 600;
  }

}


.pic {
  width: 90%;
  padding:2em 1.8em 0.8em;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  border: 0.2px solid #0D355A;

}
