.left {
  min-height: 100%;
  padding-bottom:90px;
  background-color: #0D355A;

}

.right {
  min-height: 100%;
  display: inline-block;
  text-align: center;
}

.home-heading {
  position: relative;
  width: 80%;
  margin: 3em auto 0em;
  padding: 1em 2em;
  font-size: 3em;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.2em;

}


.pic {
  width: 80%;
  padding: 1.5em;
  position: relative;
  margin: 0 auto;
}
