.site-nav {
  margin: 0 auto;
  padding-top: 5em;
  text-align: center;
  text-decoration: none;
  list-style: none;
  &:hover {
    text-decoration: none;
    list-style: none;
  }
}

.nav-link, .nav-link a {
  font-size: 1em;
  font-weight: 100;
  color: #ACE;
  padding: 2em 0em 2em;
  &:hover {
    font-weight: 500;
    color: #F00B42;
    text-decoration: none;
    list-style: none;
  }
}
