@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|VT323');
@import url('https://fonts.googleapis.com/css?family=Contrail+One');

$font-contrail: 'Contrail One', cursive;
$font-alfa:'Alfa Slab One', cursive;

.title {
  color: #F00B42;
  font-family: $font-alfa;
  text-align: center;
  font-size: 3em;
  line-height: 1.5;
  letter-spacing: 0.2em;
  padding: 0.4em;
}
.project-carousel {
  min-height: 100%;
  padding: 1.2em;
  overflow-x: hidden;
}

.caro-box {
  padding: 1.5em;
}
.projects{
  position: relative;
  top:125px;
  width: 100%;

}

.break {
  opacity: 0.2;
  background: #000;
  width: 65%;
  height: 2.6px;
  margin: 0em auto 1em;
}
