@import url('https://fonts.googleapis.com/css?family=VT323');

$font-v: 'VT323', monospace;

.site-nav {
  margin: 0 auto;
  padding-top: 5em;
  text-align: center;
  text-decoration: none;
  list-style: none;
  &:hover {
    text-decoration: none;
    list-style: none;
  }
}

.nav-link, .nav-link a {
  font-size: 1.3em;
  font-weight: 300;
  font-family: $font-v;
  color: #ACE;
  padding: 1em 0em 1em;
  &:hover {
    font-weight: 500;
    color: #F00B42;
    text-decoration: none;
    list-style: none;
  }
}
